adf/pipeline/pl_bronze_ingest_jdbc_dynamic.json
{
	"name": "pl_bronze_ingest_jdbc_dynamic",
	"properties": {
		"description": "Generic pipeline for ingesting JDBC/ODBC sources to Bronze layer with watermark-based incremental loading and error handling.",
		"activities": [
			{
				"name": "GetLastWatermark",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks/notebooks/bronze/nb_watermark_manager",
					"baseParameters": {
						"action": "get",
						"source_system": {
							"value": "@pipeline().parameters.SourceSystem",
							"type": "Expression"
						},
						"source_schema": {
							"value": "@pipeline().parameters.SourceSchema",
							"type": "Expression"
						},
						"source_entity": {
							"value": "@pipeline().parameters.SourceEntity",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_workspace",
					"type": "LinkedServiceReference",
					"parameters": {
						"Environment": {
							"value": "@pipeline().parameters.Environment",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy_Data_To_Bronze",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetLastWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('SELECT * FROM ', pipeline().parameters.SourceSchema, '.', pipeline().parameters.SourceEntity, ' WHERE ', pipeline().parameters.WatermarkColumn, ' > ''', activity('GetLastWatermark').output.runOutput.last_watermark, ''' AND ', pipeline().parameters.WatermarkColumn, ' <= ''', formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd HH:mm:ss'), '''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "ls_adls_gen2_bronze",
							"type": "LinkedServiceReference"
						},
						"path": "staging/adf"
					},
					"dataIntegrationUnits": 4,
					"enableSkipIncompatibleRow": true,
					"redirectIncompatibleRowSettings": {
						"linkedServiceName": {
							"referenceName": "ls_adls_gen2_bronze",
							"type": "LinkedServiceReference"
						},
						"path": {
							"value": "@concat('bronze/', pipeline().parameters.SourceSystem, '/', pipeline().parameters.SourceSchema, '/', pipeline().parameters.SourceEntity, '/dlq/year=', formatDateTime(pipeline().TriggerTime, 'yyyy'), '/month=', formatDateTime(pipeline().TriggerTime, 'MM'), '/day=', formatDateTime(pipeline().TriggerTime, 'dd'))",
							"type": "Expression"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_oracle_erp_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": {
								"value": "@pipeline().parameters.SourceSchema",
								"type": "Expression"
							},
							"SourceEntity": {
								"value": "@pipeline().parameters.SourceEntity",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_bronze_parquet",
						"type": "DatasetReference",
						"parameters": {
							"ContainerName": "bronze",
							"SourceSystem": {
								"value": "@pipeline().parameters.SourceSystem",
								"type": "Expression"
							},
							"SourceSchema": {
								"value": "@pipeline().parameters.SourceSchema",
								"type": "Expression"
							},
							"SourceEntity": {
								"value": "@pipeline().parameters.SourceEntity",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "UpdateWatermark",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Copy_Data_To_Bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks/notebooks/bronze/nb_watermark_manager",
					"baseParameters": {
						"action": "set",
						"source_system": {
							"value": "@pipeline().parameters.SourceSystem",
							"type": "Expression"
						},
						"source_schema": {
							"value": "@pipeline().parameters.SourceSchema",
							"type": "Expression"
						},
						"source_entity": {
							"value": "@pipeline().parameters.SourceEntity",
							"type": "Expression"
						},
						"new_watermark": {
							"value": "@formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd HH:mm:ss')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_workspace",
					"type": "LinkedServiceReference",
					"parameters": {
						"Environment": {
							"value": "@pipeline().parameters.Environment",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "RegisterBronzeTable",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "UpdateWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks/notebooks/bronze/nb_bronze_uc_table_manager",
					"baseParameters": {
						"source_system": {
							"value": "@pipeline().parameters.SourceSystem",
							"type": "Expression"
						},
						"source_schema": {
							"value": "@pipeline().parameters.SourceSchema",
							"type": "Expression"
						},
						"source_entity": {
							"value": "@pipeline().parameters.SourceEntity",
							"type": "Expression"
						},
						"target_format": "parquet",
						"container_name": "bronze"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_workspace",
					"type": "LinkedServiceReference",
					"parameters": {
						"Environment": {
							"value": "@pipeline().parameters.Environment",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "LogSuccess",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "RegisterBronzeTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks/notebooks/bronze/nb_central_logger",
					"baseParameters": {
						"pipeline_name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"run_id": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"status": "Succeeded",
						"message": {
							"value": "@concat('Successfully ingested ', pipeline().parameters.SourceSystem, '.', pipeline().parameters.SourceSchema, '.', pipeline().parameters.SourceEntity)",
							"type": "Expression"
						},
						"source_system": {
							"value": "@pipeline().parameters.SourceSystem",
							"type": "Expression"
						},
						"source_entity": {
							"value": "@pipeline().parameters.SourceEntity",
							"type": "Expression"
						},
						"rows_copied": {
							"value": "@string(activity('Copy_Data_To_Bronze').output.rowsCopied)",
							"type": "Expression"
						},
						"data_read": {
							"value": "@string(activity('Copy_Data_To_Bronze').output.dataRead)",
							"type": "Expression"
						},
						"data_written": {
							"value": "@string(activity('Copy_Data_To_Bronze').output.dataWritten)",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_workspace",
					"type": "LinkedServiceReference",
					"parameters": {
						"Environment": {
							"value": "@pipeline().parameters.Environment",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "LogFailure",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Copy_Data_To_Bronze",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks/notebooks/bronze/nb_central_logger",
					"baseParameters": {
						"pipeline_name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"run_id": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"status": "Failed",
						"message": {
							"value": "@concat('Failed to ingest ', pipeline().parameters.SourceSystem, '.', pipeline().parameters.SourceSchema, '.', pipeline().parameters.SourceEntity, ': ', activity('Copy_Data_To_Bronze').error.message)",
							"type": "Expression"
						},
						"source_system": {
							"value": "@pipeline().parameters.SourceSystem",
							"type": "Expression"
						},
						"source_entity": {
							"value": "@pipeline().parameters.SourceEntity",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_workspace",
					"type": "LinkedServiceReference",
					"parameters": {
						"Environment": {
							"value": "@pipeline().parameters.Environment",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"Environment": {
				"type": "String",
				"defaultValue": "dev"
			},
			"SourceSystem": {
				"type": "String",
				"defaultValue": "ERP"
			},
			"SourceSchema": {
				"type": "String",
				"defaultValue": "ERP"
			},
			"SourceEntity": {
				"type": "String",
				"defaultValue": "OE_ORDER_HEADERS_ALL"
			},
			"WatermarkColumn": {
				"type": "String",
				"defaultValue": "LAST_UPDATE_DATE"
			}
		},
		"folder": {
			"name": "Bronze_Ingestion"
		}
	}
}
